
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>投票管理系统</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-table.css" rel="stylesheet"/>
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/jquery.searchableSelect.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/static/css/menu.css" rel="stylesheet">

    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap-table.js"></script>
    <script src="/static/js/jquery.searchableSelect.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.js"></script>
    <script src="/static/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/static/myJs/lengthValidate.js"></script>
    <script src="/static/myJs/timeOper.js"></script>
    <style>
        .form-control{
            display:inline;
            width:auto;
        }
        .form-group{
            white-space:nowrap;
        }
        .form_datetime{
            float: left;
        }
        
            .staff_required{
                display: none !important;
            }
        
    </style>
    % from bottle import request
    % session = request.environ.get('beaker.session')
    % sessionAdminName = session.get('adminName', None)
    % sessionAdminPsw = session.get('adminPsw', None)
    % if sessionAdminName and sessionAdminPsw:
    %     isLogin = True
    % else:
    %     isLogin = False
    % end
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">投票管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">欢迎</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar sidebar-menu">

            <a href="#menu1" class="nav-header menu-first collapsed" data-toggle="collapse">用户信息管理</a>
            <ul id="menu1" class="nav nav-list collapse menu-second">
                <li><a href="/admin/voterMgr">评委管理</a></li>
                <li><a href="/admin/beVoterMgr">参评人管理</a></li>
            </ul>

            <a href="#nenu2" class="nav-header menu-first collapsed" data-toggle="collapse">投票项目管理</a>
            <ul id="nenu2" class="nav nav-list collapse menu-second">
                <li><a href="/admin/voteItemMgr">投票项目管理</a></li>
            </ul>

            <a href="#nenu3" class="nav-header menu-first collapsed" data-toggle="collapse">报表统计</a>
            <ul id="nenu3" class="nav nav-list collapse menu-second">
                <li><a href="/admin/voterTable/">评委投票情况汇总表</a></li>
                <li><a href="/admin/beVoterTable/">参评人得票情况汇总表</a></li>
                <li><a href="/admin/voteRecTable/">投票汇总表</a></li>
            </ul>

            <a href="#nenu7" class="nav-header menu-first collapsed" data-toggle="collapse">系统管理</a>
            <ul id="nenu7" class="nav nav-list collapse menu-second">
                <li><a href="/admin/backVote/">撤销评委投票</a></li>
                <!--<li><a href="/admin/changeAdminPsw/">修改密码</a></li>-->
            </ul>

            % if isLogin:
                <a href="#nenu5" class="nav-header menu-first collapsed" data-toggle="collapse">登出系统</a>
            % else:
                <a href="#nenu5" class="nav-header menu-first collapsed" data-toggle="collapse">登录系统</a>
            % end

            <ul id="nenu5" class="nav nav-list collapse menu-second">
                % if isLogin:
                    <li id="login"><a href="/admin/adminLoginOut">退出登录</a></li>
                % else:
                    <li id="login"><a href="/admin/adminLogin">登录</a></li>
                % end
            </ul>

        </div>

        {{!base}}

    </div>
</div>

<script>
    $('.search').searchableSelect();

    $(".form_datetime").datetimepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        todayBtn: true,
        minView: 2,
        language: 'zh-CN'
    });
</script>




</body>
</html>
