% rebase('views/voterBase.html')

<style>
    .table-bordered > tbody > tr > td {
      border: 1px solid #000000;  /* 单元格边框 */
    }

</style>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="container theme-showcase col-sm-12" role="main">

        <h2 class="sub-header">实名投票</h2>
        <label>剩余票数：<label id="leftTicket">{{leftTicket}}</label></label>
        <div class="well" id="selectVoterInfo">

                <div class="row">
                  <div class="col-xs-12">
                      % for index, beVoterInfo in enumerate(beVoterInfoList):
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="checkboxBtn" name="selectedID" value="{{beVoterInfo.seqKey}}">
                                    <a class="btn btn-xs btn-info" data-id="voter{{index}}" >{{beVoterInfo.userName}}</a>
                                </label>
                                <a class="btn btn-xs btn-primary voterInfo" data-id="voter{{index}}" >显示详情</a>
                            </div>
                            <div hidden="true" id="voter{{index}}">
                                <table id="table" data-page-size="50" class="table table-hover table-bordered" data-pagination="true" data-page-list="[10,50,500,2000,10000]" data-pagination="true">
                                    <tr>
                                        <td>姓名</td>
                                        <td>{{beVoterInfo.userName}}</td>
                                    </tr>
                                    <tr>
                                        <td>所得票数</td>
                                        <td>{{beVoterInfo.beVoteTicket}}</td>
                                    </tr>
                                    <tr>
                                        <td>身份证</td>
                                        <td>{{beVoterInfo.shenfenzheng}}</td>
                                    </tr>
                                    <tr>
                                        <td>出生年月</td>
                                        <td id="votershengri{{index}}">
                                            % if beVoterInfo.shengri:
                                             <script>
                                                 var time = serverMilliSecToStr({{beVoterInfo.shengri}});
                                                $('#votershengri{{index}}').html(time.split(' ')[0])
                                            </script>
                                            % end
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>性别</td>
                                        <td>
                                            % if int(beVoterInfo.sex) == 1:
                                                男
                                            % else:
                                                女
                                            % end
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>职称</td>
                                        <td>{{beVoterInfo.zhicheng}}</td>
                                    </tr>
                                    <tr>
                                        <td>职称等级</td>
                                        <td>{{beVoterInfo.zhichengLv}}</td>
                                    </tr>
                                    <tr>
                                        <td>职务</td>
                                        <td>{{beVoterInfo.zhiwu}}</td>
                                    </tr>
                                    <tr>
                                        <td>最高学历</td>
                                        <td>{{beVoterInfo.zuigaoxueli}}</td>
                                    </tr>
                                    <tr>
                                        <td>毕业学校</td>
                                        <td>{{beVoterInfo.biyeyuanxiao}}</td>
                                    </tr>
                                    <tr>
                                        <td>入职时间</td>
                                        <td id="voterruzhishijian{{index}}">
                                            % if beVoterInfo.ruzhishijian:
                                             <script>
                                                 var time = serverMilliSecToStr({{beVoterInfo.ruzhishijian}});

                                                $('#voterruzhishijian{{index}}').html(time.split(' ')[0])
                                            </script>
                                            % end
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>主要经历</td>
                                        <td>{{beVoterInfo.zhuyaojingli}}</td>
                                    </tr>
                                    <tr>
                                        <td>学术成果</td>
                                        <td>{{beVoterInfo.xueshuchengguo}}</td>
                                    </tr>
                                    <tr>
                                        <td>获奖信息</td>
                                        <td>{{beVoterInfo.huojiangxinxi}}</td>
                                    </tr>
                                    <tr>
                                        <td>备注</td>
                                        <td>{{beVoterInfo.remark}}</td>
                                    </tr>
                                </table>
                            </div>
                      % end

                      <form class="form" method="POST" action="/voter/signVote" >
                            <input type="hidden" name="beVoterSeq" value="" id="beVoterSeq">
                            <input type="hidden" name="voteItem" value="{{voteItem}}">
                            <button type="submit" class="btn btn-success" onclick="return doSivnVote()">投票</button>
                     </form>
                  </div>
                </div>

              </div>
    </div>

<script>
        $('.checkboxBtn').click(function(){
            var isChecked = $(this).is(":checked");
            var preValue = parseInt($('#leftTicket').html());

            if(isChecked){
                preValue -= 1;
                if(preValue < 0){
                    $(this).attr('checked', false);
                    alert("票数不足");
                    return;
                }

            }else preValue += 1;
            $('#leftTicket').html(preValue);
        });

        $('.voterInfo').click(function(){
            var detailID = $(this).attr('data-id');
            var isHidden = $('#' + detailID).attr('hidden');
            var htmlInfo = '显示详情';
            if(isHidden) htmlInfo = '隐藏详情';
            $(this).html(htmlInfo);
            $('#' + detailID).attr('hidden', !isHidden);
        });

        var doSivnVote = function(){
            var m = $("input:checkbox[name='selectedID']:checked").map(function(index,elem) {
                return $(elem).val();
            }).get().join('_');

            if(!m){
                alert("请选择候选人");
                return false;
            }
            $('#beVoterSeq').attr('value', m)

            return true;
        }
        % if 'signVoteSuccess' in dir() and signVoteSuccess:
            alert('投票成功！')
        % end

        % if 'noticket' in dir() and noticket:
            alert('票数不足')
        % end

    </script>