<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>投票系统</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-table.css" rel="stylesheet"/>
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/jquery.searchableSelect.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="/static/css/menu.css" rel="stylesheet">

    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/bootstrap-table.js"></script>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">投票系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">欢迎</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li style="text-align: center"><a href="/admin/voteRecTable">查看投票结果</a></li>
                <li style="text-align: center"><a href="/admin/adminLogin">管理员登录</a></li>
                <li style="text-align: center"><a href="/voter/beVoterLogin">参评人登录</a></li>
                <li style="text-align: center"><a href="/voter/voterLogin">评委登录</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    
            <h2 class="sub-header">请选择您的身份</h2>

            <div>
                <a class="btn btn-primay" href="/admin/adminLogin">管理员</a>
                <a class="btn btn-warning" href="/voter/beVoterLogin">参评人</a>
                <a class="btn btn-success" href="/voter/voterLogin">评委</a>
            </div>

        </div>

    </div>
</div>


</body>
</html>
