% rebase('views/adminBase.html')

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h2 class="sub-header">投票项目汇总</h2>

    <form class="col-sm-0 output" action="/output/" method="post" onsubmit="$(this).find('.data').val($('#table').html());">
        <input type="hidden" name="data" class="data"/>
        <input type="hidden" name="end_index" value="9"/>
        <button type="submit" class="btn btn-success">导出表格</button>
    </form>
    <br/>

    <div class="alert alert-info" hidden="true" id="alertInfo"></div>

    <form action="/admin/findVoteItemTable" method="get" class="col-sm-1 form-horizontal">

        <div class="form-group">
            % if 'keywordYear' not in dir():
            %   keywordYear = ''
            % end
            <input type="text" class="form-control" id="keywordYear" name="keywordYear" value="{{keywordYear}}" placeholder="年度">

            <label  class="col-sm-2 control-label" ></label>
            % if 'keywordName' not in dir():
            %   keywordName = ''
            % end
            <input type="text" class="form-control" id="keywordName" name="keywordName" value="{{keywordName}}" placeholder="项目名称">
            <button type="submit" class="btn btn-success" onclick="return searchVoteItem()">查找</button>
        </div>

    </form>

    <table id="table" data-page-size="50" class="table table-hover" data-pagination="true" data-page-list="[10,50,500,2000,10000]" data-pagination="true">
        <thead>
            <tr>
                <th data-sortable="true">立项时间</th>
                <th data-sortable="true">年度</th>
                <th data-sortable="true">投票项目名称</th>
                <th data-sortable="true">评委列表</th>
                <th data-sortable="true">参评人列表</th>
                <th data-sortable="true">未完成投票评委列表</th>
                <th data-sortable="true">通过项目参评人列表</th>
                <th data-sortable="true">投票通过指标</th>
                <th data-sortable="true">项目截止时间</th>
            </tr>
        </thead>
        <tbody>

                % for num,voterData in enumerate(infoList):
                <tr>
                    <td data-sortable="true" id="{{voterData['addVoteTime']}}">
                        <script>
                            var time = serverMilliSecToStr('{{voterData["addVoteTime"]}}');
                            $('#{{voterData["addVoteTime"]}}').html(time);
                        </script>
                    </td>
                    <td data-sortable="true">{{voterData['year']}}</td>
                    <td data-sortable="true">{{voterData['name']}}</td>
                    <td data-sortable="true">
                        <select class="form-control">
                            % for index, value in enumerate(voterData['voterList']):
                            % if index == 0:
                                <option selected>{{value}}</option>
                            % else:
                                <option>{{value}}</option>
                            % end
                            % end
                        </select>
                    </td>
                    <td data-sortable="true">
                        <select class="form-control">
                            % for index, value in enumerate(voterData['beVoterList']):
                            % if index == 0:
                                <option selected>{{value}}</option>
                            % else:
                                <option>{{value}}</option>
                            % end
                            % end
                        </select>
                    </td>
                    <td data-sortable="true">
                        <select class="form-control">
                            % for index, value in enumerate(voterData['hasTicketVoterList']):
                            % if index == 0:
                                <option selected>{{value}}</option>
                            % else:
                                <option>{{value}}</option>
                            % end
                            % end
                        </select>
                    </td>
                    <td data-sortable="true">
                        <select class="form-control">
                            % for index, value in enumerate(voterData['passBeVoterList']):
                            % if index == 0:
                                <option selected>{{value}}</option>
                            % else:
                                <option>{{value}}</option>
                            % end
                            % end
                        </select>
                    </td>
                    <td data-sortable="true">{{voterData['beVoterPassCnt']}}</td>
                    <td data-sortable="true" id="{{num}}{{voterData['endTime']}}">
                        <script>
                            var time = serverMilliSecToStr('{{voterData["endTime"]}}');
                            % print index
                            $('#{{num}}{{voterData["endTime"]}}').html(time);
                        </script>
                    </td>
                </tr>
                % end
        </tbody>
    </table>

</div>

<script>
    var searchVoteItem = function(){
            var date = $('#keywordYear').val();
            if(!dateValidate(date)) return false;
            return true;
        };

        var dateValidate = function(dateStr){
            if(dateStr == '') return true;

            var yearLength = dateStr.length;
            var isString = isNaN(dateStr);
            if(yearLength != 4 || isString){
                showAffirm('请输入4位年份数字');
                return false;
            }

            return true;
        };

        var showAffirm = function(affirm){
            if(!affirm) return;
            $('#alertInfo').attr('hidden', false);
            $('#alertInfo').html(affirm);
        };
</script>
